{{outlet}}
<h1>כניסת משתמש</h1>
{{input value=email placeholder='Login'}}<br>
{{input value=password placeholder='Password' type='password'}}<br>
<br>
<button {{action 'authenticate'}}>התחבר</button>
<br>
<br>
אין לך חשבון? {{#link-to 'signup'}}הרשמה!{{/link-to}}